<div class="module tophamburguermenu" ng-controller="tophamburguermenuController">
  <div class="headBar">
    <a>Title</a>
    <!-- menu buttons -->
    <div>
      <button class="btn-cuadrado" ng-click="muestramenu = muestramenu=== 'openTop'? 'closeTop': 'openTop' ">
        <koa-icon icon="{{tophamburguermenu.icon}}" id="menuIcon" class="menuIcon-cuadrado">
        </koa-icon>
      </button>
    </div>
  </div>

  <div class="menu panel panel_left panel-reveal" ng-class="muestramenu">
    <div class="list">
      <ul>
        <li ng-repeat="(key, value) in menu">
          <a class="item main_nav_icons" ng-click="muestramenu = false" ng-selected="isSelected(value.url)"
            ng-href="{{value.url}}">
            <koa-icon id="menuIcons" src="{{value.icon}}" ng-if="!showicons && value.typeicon === 0"></koa-icon>

            <span>{{value.text}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="content">
    <!-- moduleIdentifier + Template - Needs embracing div -->

    <div ng-include="tophamburguermenuTemplate" class="template"></div>
  </div>

  <!-- end module html -->
</div>